<div class="container-fluid">

  <div class="flex flex-column">


  <span style="text-align: center;" class="text-lg mb-4">
       <mat-icon>backup</mat-icon>
     <strong>
      Data Processed
     </strong>
  </span>



  <mat-table  #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[column.id]}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>



  <span style="text-align: center;" class="text-lg mb-4">

  <button mat-button  mat-flat-button color="primary"  (click)="processTable()">
    <mat-icon>compare_arrows</mat-icon>
    Show User Information
  </button>


  </span>






  </div>
</div>
