<div class="container-fluid">



    <div class="flex flex-column">


    <span style="text-align: center;" class="text-lg mb-4">
         <mat-icon>autorenew</mat-icon>
       <strong>
        Load Databases
       </strong>
    </span>


  <h4>Select one option:</h4>
  <mat-form-field >
    <mat-label>Personal Identification</mat-label>
    <mat-select>
      <mat-option *ngFor="let pid of PersoalIds" [value]="pid.value">
        {{pid.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

    </div>



<br>

<button mat-button  mat-flat-button color="primary"  (click)="copydb()">
  <mat-icon>save</mat-icon>
  Pre-Processing Databases
</button>


<br>
<hr>



<mat-table *ngIf="showCopyTable" #table [dataSource]="dataSource" matSort>
  
 
  <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}}</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element[column.id]}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 

</mat-table>


<mat-paginator #paginator
[pageSize]="5"
[pageSizeOptions]="[5, 10, 20]">
</mat-paginator>



<button mat-button  mat-flat-button color="primary"  (click)="stagingDB()">
  <mat-icon>navigate_next</mat-icon>
  Match Fields
</button>


</div>
