<div class="container-fluid">

    <div class="flex flex-column">


    <span style="text-align: center;" class="text-lg mb-4">
         <mat-icon>check_circle</mat-icon>
       <strong>
        Match Fields
       </strong>
    </span>


<br>


 <mat-table *ngIf="showCopyTable" #table [dataSource]="dataSource" matSort>
 



<!-- 
 first aproach OK
 
 <ng-container matColumnDef="select">
  <th mat-header-cell *matHeaderCellDef>
    <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
    </mat-checkbox>
  </th>
  <td mat-cell *matCellDef="let row">
    <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)">
    </mat-checkbox>
  </td>
</ng-container>

<ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
  <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}}</mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element[column.id]}}</mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 


  
 -->




 
 <ng-container matColumnDef="select">
  <th mat-header-cell *matHeaderCellDef>
    <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
    </mat-checkbox>
  </th>
  <td mat-cell *matCellDef="let row">
    <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)">
    </mat-checkbox>
  </td>
</ng-container>

<ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
  <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}}</mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element[column.id]}}</mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 





</mat-table>


<mat-paginator #paginator
[pageSize]="5"
[pageSizeOptions]="[5, 10, 20]">
</mat-paginator>




<span style="text-align: center;" class="text-lg mb-4">

<button mat-button  mat-flat-button color="primary"  (click)="save()">
  <mat-icon>input</mat-icon>
  Accept
</button>
<button mat-button  mat-flat-button color="secondary"  (click)="cancel()">
  <mat-icon>cancel_presentation</mat-icon>
  Cancel
</button>

</span>



    </div>
</div>
