
 <form [formGroup]="loginForm" (ngSubmit)="authorize(loginForm)" >


<div class="flex flex-column">

    <span style="text-align: center;" class="text-lg mb-4">
         <mat-icon>shield</mat-icon>
         login
    </span>



      <mat-form-field>
        <mat-label>User</mat-label>
        <input type="text" formControlName="user" matInput placeholder="User name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput placeholder="Password">
      </mat-form-field>

      <button mat-button mat-flat-button color="primary">
        <mat-icon>save</mat-icon>
        Sing In
      </button>

      <div class="flex jsutify-content-end mt-5">
        <a routerLink="/auth/register">Create new account</a>
      </div>



    </div>

  </form>
